.myForm {
  height: auto;
  width: auto;
  margin: 30px 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: hsl(0, 0%, 98%);
}

.myForm form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mat-form-field {
  width: 100%;
}
.btn-group {
  display: flex;
}
button {
  flex-direction: row;

  margin-top: 10px;
}

button[color="danger"] {
  background-color: #d32f2f;
  color: white;
}

button[color="danger"]:hover {
  background-color: #c62828;
}

button + button {
  margin-left: 10px;
}
