<div class="btn-group">
  <h1></h1>
  <button
    mat-flat-button
    color="primary"
    class="add-button"
    (click)="openDialog()"
  >
    Add To Do
  </button>
</div>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>

      <td
        [ngClass]="element.status ? '' : 'strikethrough'"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.id }}
      </td>
    </ng-container>

    <!-- Task Column -->
    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef>Task</th>
      <td
        [ngClass]="element.status ? '' : 'strikethrough'"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.task }}
      </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>

      <td
        [ngClass]="element.status ? '' : 'strikethrough'"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.description }}
      </td>
    </ng-container>

    <!-- Due Date Column -->
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef>Due Date</th>

      <td
        [ngClass]="element.status ? '' : 'strikethrough'"
        mat-cell
        *matCellDef="let element"
      >
        <p>{{ element.dueDate | date : "yyyy-MM-dd" }}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>

      <td
        [ngClass]="element.status ? '' : 'strikethrough'"
        mat-cell
        *matCellDef="let element"
      >
        @if(element.status){
        <button
          mat-raised-button
          class="action-button"
          color="accent"
          (click)="changeStatus(element.status, element)"
        >
          Pending
        </button>
        }@else{
        <button
          mat-raised-button
          class="action-button"
          color="accent"
          style="background-color: green"
          (click)="changeStatus(element.status, element)"
        >
          Done
        </button>
        }
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element" class="action">
        <button
          mat-raised-button
          class="action-button"
          color="accent"
          (click)="editItem(element.id, element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          class="action-button"
          mat-raised-button
          color="warn"
          (click)="deleteItem(element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
