body {
  font-family: "Roboto", sans-serif;
  margin: 20px;
}
.add-button {
  margin-bottom: 20px;
  margin: 10px;
  margin-right: 10px;
}
.table-container {
  width: 100%;
  overflow: auto;

  margin: 0 auto;
  text-align: right;
  padding: 10px;

  table {
    width: 100%;

    overflow: auto;
    .action-button {
      margin: 5px;
    }
  }
}
